
<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Mount</th>
                  <th>Type</th>
                  <th></th>
                </tr>
              </thead>

              <tbody *ngIf="moves.length > 0">
                <tr *ngFor="let move of moves | order">
                  <td>{{ move?.description }}</td>
                  <td>{{ move?.mount | currency}}</td>
                  <td [ngClass]="{'text-danger': move.type == 'exit', 'text-success': move.type =='entry'}">
                    {{ move?.type | titlecase }}
                  </td>
                  <td>
                    <button (click)="removeItem(move.uid)" class="btn btn-outline-danger">
                      <i class="fa fa-trash"> Delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
